*       @masterofray

# Perubahan pada logika model LTR atau sistem rekomendasi harus ditinjau di sini.
/src/   @masterofray

# Spesifik untuk konfigurasi CI/CD dan GitHub Actions.
/.github/workflows/ @masterofray

# Penanggung jawab untuk folder pembuatan model AI.
# /src/models/ @masterofray

# Penanggung jawab untuk folder pengujian (test).
/test/  @masterofray