# Owner of this Repository
*       @aryanto
/src/   @masterofray

# Spesifik untuk konfigurasi CI/CD dan GitHub Actions.
/.github/workflows/ @masterofray

# Penanggung jawab untuk folder pembuatan model AI.
# /src/models/ @masterofray

# Penanggung jawab untuk folder pengujian (test).
/test/  @masterofray