# Generated for Python >= 3.8

# __ Data layer _____________________________
numpy>=1.21.0
pandas>=2.0.0
scipy>=1.7.0
duckdb>=0.8
pyarrow>=14.0.0

# __ Core ML ________________________________
scikit-learn>=1.3.0
lightgbm>=4.0.0
xgboost>=2.0.0
optuna>=3.5.0
shap>=0.44.0

# __ Visualisation __________________________
matplotlib>=3.8.0
seaborn>=0.12.0
shap>=0.51.0

# __ Support Libraries ______________________
tqdm>=4.60
joblib>=1.1
ipdb~=0.13
cloudpickle~=3.1.0

# __ Experiment tracking ____________________
mlflow>=2.11.0

# __ Inference ______________________________
faiss-cpu ~= 1.13.2
annoy ~= 1.17.3

# __ Cython _________________________________
cython>=0.29
